//output:panel.html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type="text/javascript", src="components/webcomponentsjs/webcomponents.min.js")
    script(type="text/javascript").
      less = {
        env: "production", // or "production"
      };
    script(type="text/javascript", src="components/less.js/dist/less.js")
    script(type="text/javascript", src="components/sass.js/dist/sass.js")
    script(type="text/javascript", src="components/juicy-ace-editor/ace/src-min-noconflict/ace.js")
    link(rel="stylesheet", type="text/css", href="components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/panel.css")
  body
    div#leftPanel
      nav.navbar.navbar-default
        div.container-fluid
          div.navbar-header
            span.navbar-brand
              | Options
          div.navbar-right#panelIcon
            span#left.navbar-right.glyphicon.glyphicon-chevron-left
            span#right.navbar-right.glyphicon.glyphicon-chevron-right
      form
        div.form-group
          label(for="language")
            | Language
          select(id="language").form-control
            option(value="css")| CSS
            option(value="less")| LESS
            option(value="sass")| SASS
            //option(value="staylus")| Staylus
        div.form-group
          a.btn.btn-default#send| Insert
        div.form-group
          a.btn.btn-default#downloadCode(data-template="Download {0}").hidden
        div.form-group
          a.btn.btn-default#downloadCSS| Download CSS
      form.fontSize
        label(for="fontSize")
          | Font size
        input(id="fontSize", value="15", type="number").form-control

    div#content
      div#files.breadcrumb
      div#editors(data-dede="dasdas")
        div#editor
          juicy-ace-editor.code(theme="ace/theme/chrome",  mode="ace/mode/css", softtabs="true")
            template
              content
        div#result.hidden
          juicy-ace-editor.codeCompiled(theme="ace/theme/chrome",  mode="ace/mode/css", softtabs="true")
            template
              content
        div.error.hidden
    script(type="text/javascript", src="js/editor.js")
    script(type="text/javascript", src="js/panel.js")
